<!DOCTYPE html>
<html>
  <head>
    <title>猛犸贝贝</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="content">
        <%= render "common/navbar" %>
      </div>

      <div class="customed-flash">
        <%= render "common/flashes" %>
      </div>

      <div>
        <%= yield %>
      </div>

        <%= render "common/footer" %>

  </body>

</html>
